<div
  class="flex flex-col sm:flex-row justify-between items-start sm:items-center text-offwhite gap-[64px] w-full py-[110px] px-4 lg:py-[110px] md:px-[120px] bg-primary"
>
  <div id="cos" class="">
    <h4 class="text-[40px]">
      <span class="font-[montserrat] font-normal tracking-tighter">
        Zostańmy w kontakcie!
        <br />
        Znajdziesz nas na
      </span>
      <span class="italic font-medium tracking-[1px]"> Instagramie. </span>
    </h4>
  </div>
  <div class="flex flex-col gap-8">
    <span
      >Śledź nasze <br />
      najnowsze realizacje!</span
    >
    <a
      href="#"
      class="hover:bg-transparent bg-offwhite text-primary border-sm hover:text-offwhite hover:border-offwhite flex cursor-pointer gap-[8px] items-center duration-300 rounded-full px-[24px] py-[12px] w-fit group"
      >Instagram</a
    >
  </div>
</div>
