<div class="flex min-h-[500px] flex-col items-center w-full justify-between">
  <div class="flex flex-col gap-[32px] max-w-[700px]">
    <p class="text-primary py-4">oferta</p>
    <h2 class="font-medium text-[6xl]">
      <span class="font-[montserrat] tracking-tight"> Działamy </span>
      <span class="italic"> kompleksowo </span>
    </h2>
    <p>
      Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy
      nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie
      projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie
      posłużymy radą i wieloletnim doświadczeniem.
    </p>
  </div>
  <div
    id="card-container"
    class="w-full h-full mt-24 flex-col sm:flex-row [&>*]:sm:max-w-[378px] [&>*]:sm:min-w-[300px] flex flex-wrap justify-center gap-[32px] sm:gap-[64px]"
  ></div>
</div>
