<div
  class="g-text-section flex flex-col gap-[2rem] md:gap-[4rem] order-2 px-4 py-8 lg:px-[89px] justify-start lg:justify-center h-full w-full flex-wrap"
>
  <div class="flex flex-col gap-[44px] w-full">
    <p class="py-4">O firmie</p>
    <h2 class="font-medium text-6xl">
      <span class="font-[montserrat] tracking-tight"> Tworzymy </span>
      <br />
      <span class="italic"> z pasją </span>
    </h2>
    <p class="max-w-[500px]">
      Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy
      nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie
      projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie
      posłużymy radą i wieloletnim doświadczeniem.
    </p>
  </div>
  <div class="flex-wrap flex gap-[36px] [&>*]:px-4 [&>*]:py-2">
    <a
      href="#masonry__section"
      class="hover:bg-offwhite hover:text-primary border-sm text-offwhite hover:border-offwhite flex cursor-pointer gap-[8px] items-center duration-300 rounded-full px-[24px] py-[12px] w-fit group"
    >
      <span> Poznaj nas bliżej </span>

      <span class="material-symbols-rounded"> arrow_forward </span>
    </a>
  </div>
</div>
<div class="overflow-hidden relative h-full w-full square-img">
  <div class="absolute left-0 top-0 w-full h-full">
    <img
      class="w-full h-full object-cover"
      src="https://raw.githubusercontent.com/simonkawaii/adrespect-design-site/main/src/assets/sec-2-photo.jpg"
      alt=""
      srcset=""
    />
  </div>
</div>
