<li class=" w-full gap-4 h-full group relative duration-300  " >
  <a class="font-bold peer-checked:content-['']  p-small">Meble ogrodowe +</a>
  <input
    class="peer absolute w-full h-full top-0 left-0 cursor-pointer opacity-0"
    type="checkbox"
    name="lol"
    id=""
  />
  <div class="grid grid-rows-[0fr]  peer-checked:[&>ul]:py-4 peer-checked:grid-rows-[1fr] duration-300">
    <ul
      class="duration-300 [&>*]:px-small my-2  gap-4 grid overflow-hidden  [&>*>a]:w-full animate-wiggle [&>li>*]:flex bg-offwhite z-[9999]  [&>li>a]:py-2 top-0"
    >
      <li>
        <a href="">
          Nowoczesne zestawy wypoczynkowe z wygodnymi sofami i fotelami
        </a>
      </li>
      <li>
        <a href="">
          Designerskie leżaki i hamaki dla relaksu na świeżym powietrzu
        </a>
      </li>
      <li>
        <a href=""> Stoliki kawowe z minimalistycznym wyglądem</a>
      </li>
    </ul>
  </div>
</li>
<li class="w-full gap-4 h-full group relative duration-300 ">

  <a class="font-bold p-small">Oświetlenie +</a>
  <input
    class="peer blank absolute w-full h-full top-0 left-0 cursor-pointer opacity-0"
    type="checkbox"
    name="lol"
    id=""
  />
  <div class="grid grid-rows-[0fr]   peer-checked:[&>ul]:py-4 peer-checked:grid-rows-[1fr] duration-300">
    <ul
      class="duration-300 [&>*]:px-small my-2  gap-4 grid overflow-hidden  [&>*>a]:w-full animate-wiggle [&>li>*]:flex bg-offwhite z-[9999]  [&>li>a]:py-2 top-0"
    >
    <li>
      <a href=""> Dyskretne oświetlenie LED wbudowane w podłoże lub meble </a>
    </li>
    <li>
      <a href=""> Lampiony, latarnie i kinkiety o nowoczesnym designie </a>
    </li>
    <li>
      <a href=""> Reflektory solarnego oświetlenia energooszczędnego </a>
    </li>
  </ul>
</li>
<li class="w-full gap-4 h-full group relative duration-300 ">

  <a class="font-bold p-small">Roślinność +</a>
  <input
    class="peer absolute w-full h-full top-0 left-0 cursor-pointer opacity-0"
    type="checkbox"
    name="lol"
    id=""
  />
  <div class="grid grid-rows-[0fr]   peer-checked:[&>ul]:py-4 peer-checked:grid-rows-[1fr] duration-300">
    <ul
      class="duration-300 [&>*]:px-small my-2  gap-4 grid overflow-hidden  [&>*>a]:w-full animate-wiggle [&>li>*]:flex bg-offwhite z-[9999]  [&>li>a]:py-2 top-0"
    >
    <li>
      <a href=""> Geometryczne klomby z roślinami o wyrazistych kształtach </a>
    </li>
    <li>
      <a href=""> Kaskadowe ogrody skalne z trawami ozdobnymi i kamieniami </a>
    </li>
    <li>
      <a href="">
        Minimalistyczne kompozycje z drzewami w formie kolumn lub kul
      </a>
    </li>
  </ul>
</li>

<li class="w-full gap-4 h-full group relative duration-300 ">

  <a class="font-bold p-small">Elementy wodne +</a>
  <input
    class="peer absolute w-full h-full top-0 left-0 cursor-pointer opacity-0"
    type="checkbox"
    name="lol"
    id=""
  />
  <div class="grid grid-rows-[0fr]   peer-checked:[&>ul]:py-4 peer-checked:grid-rows-[1fr] duration-300">
    <ul
      class="duration-300 [&>*]:px-small my-2  gap-4 grid overflow-hidden  [&>*>a]:w-full animate-wiggle [&>li>*]:flex bg-offwhite z-[9999]  [&>li>a]:py-2 top-0"
    >
    <li>
      <a href="">
        Nowoczesne fontanny z gładkimi powierzchniami i oświetleniem LED
      </a>
    </li>
    <li>
      <a href="">
        Strefy relaksu przy oczkach wodnych z roślinnością bagienną
      </a>
    </li>
    <li>
      <a href=""> Designerskie kaskady wodne łączące się z oświetleniem </a>
    </li>
  </ul>
</li>
<li class="w-full gap-4 h-full group relative duration-300 ">

  <a class="font-bold p-small">Tarasy i podjazdy +</a>

  <input
    class="peer absolute w-full h-full top-0 left-0 cursor-pointer opacity-0"
    type="checkbox"
    name="lol"
    id=""
  />
  <div class="grid grid-rows-[0fr]   peer-checked:[&>ul]:py-4 peer-checked:grid-rows-[1fr] duration-300">
    <ul
      class="duration-300 [&>*]:px-small my-2  gap-4 grid overflow-hidden  [&>*>a]:w-full animate-wiggle [&>li>*]:flex bg-offwhite z-[9999]  [&>li>a]:py-2 top-0"
    >
    <li>
      <a href="">
        Tarasy z egzotycznymi drewnami lub nowoczesnymi kompozytami
      </a>
    </li>
    <li>
      <a href="">
        Betonowe podjazdy z geometrycznymi wzorami i efektem trójwymiaru
      </a>
    </li>
  </ul>
</li>
<li class="pl-small">
  <div class="relative group/search h-full flex items-center">
    <input
      class="search--input p-[12px] border-[1px] w-[40px] cursor-pointer max-w-[100%] focus-within:cursor-auto text-sm rounded-full duration-300 group-focus/search:w-[var(--input-width)] group-focus-within/search:w-[var(--input-width)]"
      type="text"
      name=""
      id=""
    />

    <button class="submit--search absolute left-2 pointer-events-none z-[9999]">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="Icon Color"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8 0.25C3.71979 0.25 0.25 3.71979 0.25 8C0.25 12.2802 3.71979 15.75 8 15.75C9.87001 15.75 11.5853 15.0877 12.9242 13.9848L18.4697 19.5303L18.5538 19.6029C18.8474 19.8208 19.2641 19.7966 19.5303 19.5303C19.8232 19.2374 19.8232 18.7626 19.5303 18.4697L13.9848 12.9242C15.0877 11.5853 15.75 9.87001 15.75 8C15.75 3.71979 12.2802 0.25 8 0.25ZM8 1.75C11.4518 1.75 14.25 4.54822 14.25 8C14.25 11.4518 11.4518 14.25 8 14.25C4.54822 14.25 1.75 11.4518 1.75 8C1.75 4.54822 4.54822 1.75 8 1.75Z"
          fill="#111111"
        />
      </svg>
    </button>
  </div>
</li>