<div
  class="flex g-footer-section flex-col w-full bg-black text-offwhite justify-between gap-[64px] md:gap-[120px] h-full lg:p-[89px] px-4 py-[80px]"
>
  <div class="flex flex-col g-footer-section gap-[64px]">
    <div
      class="flex w-full justify-between gap-[64px] flex-col sm:flex-row flex-wrap"
    >
      <span class="brand__logo">logo</span>
      <div
        class="flex items-start sm:items-center flex-col sm:flex-row gap-[24px]"
      >
        <span class="flex break-words"
          >Daj znać, co możemy dla Ciebie zrobić!</span
        >
        <a
          class="flex cursor-pointer gap-[8px] items-center duration-300 bg-primary text-white hover:bg-primary-hover rounded-full px-[24px] py-[12px] w-fit group"
        >
          Skontaktuj się z nami
        </a>
      </div>
    </div>
    <hr />
    <div
      class="flex w-full flex-col sm:flex-row flex-wrap gap-[4rem] justify-between [&>*]:gap-[1rem] [&>*]:sm:gap-[48px]"
    >
      <ul class="flex flex-col sm:flex-row g-footer-section">
        <li>Kontakt</li>
        <li>Instagram</li>
        <li>facebook</li>
        <li>linkedin</li>
      </ul>
      <div class="flex flex-col sm:flex-row">
        <span>000-000-000</span>
        <span>giarddesign@kontakt.pl</span>
      </div>
    </div>
  </div>
  <div class="flex justify-between flex-col sm:flex-row gap-[2rem]">
    <span>Prawa zastrzeżone © 2022</span>
    <div class="flex items-center gap-[1rem]">
      <span> made by </span>
      <span class="provider__brand"> </span>
    </div>
  </div>
</div>
